.container {
  box-sizing: border-box;
  width: 550px; 
  height: 300px;
  border-width: 12px;
  border-left-width: 16px;
  border-bottom-width: 16px;
  border-color: #6A6ED8;
  border-style: solid;
  text-align: center;
  margin: auto;
}
#joke {
    font-size: 24px;
    font-weight: 550;
    padding-top: 30px;
}
#laugh {
    font-size: 16px;
    color: gray;
    margin-top: 50px;
}
#ground {
    font-size: 24px;
    font-weight: 550;
}

#jokeBtn {
    color: whitesmoke;
    background-color: #A36AD9;
    padding-top: 8px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 8px;
    border-radius: 5px;
    margin-top: 25px;
}